<head>
  <h1>Check a Poker Hand</h1>

</head>
<body>
  <h1>
    <%= form_tag("/home/poker") do %>
    <%=  text_field_tag :card %>
    <input type="submit" value="Check" >
    <%end %>
  </h1>
  <h2>
    <%= @hands.hand %>
    <%= @hands.error %>
  </h2>

</body>
