<head>
  <h1>Check a Poker Hand</h1>

</head>
<body>
  <h1>
    <%= form_tag("/home/judge_hand") do %>
    <%=  text_field_tag :card %>
    <input type="submit" value="Check" >
    <%end %>
  </h1>
  <h2>
    <%= @cards.hand %>
    <%= simple_format(@cards.error)%>
  </h2>

</body>
